/*File main.css, Writen by David Carrie, Last modified July 12 2023 */
/* Contains most of the CSS required for my personal website */
/*General document styling */

.play,
.stop {
  width: fit-content !important;
}

/*include padding and border in total size*/
html {
  box-sizing: border-box;
}

/*Set Background lightblue*/
body {
  background-color: lightblue;
}

/*Set headers with shadows, alignment and color*/
h3 {
  text-shadow:
    -1px 0px black,
    1px 0px black,
    0px -1px black,
    0px 1px black;
  color: white;
  text-align: left;
}

h2 {
  text-shadow:
    -1px 0px black,
    1px 0px black,
    0px -1px black,
    0px 1px black;
  color: rgb(255, 255, 255);
  text-align: left;
}

h1 {
  text-shadow:
    -1px 0px black,
    1px 0px black,
    0px -1px black,
    0px 1px black;
  color: rgb(255, 255, 255);
  text-align: left;
}

/*paragraph styling*/
p {
  font-family: sans-serif;
  font-size: 20px;
}

/*links on hover*/
a:hover {
  font-family: monospace;
  font-size: 1.5em;
}

/*Linkedin Link Specific, inspired from https://codepen.io/team/css-tricks/pen/xxPORam by Freee Frontend*/
.linkedIn>*>a {
  text-decoration: none;
  color: darkblue;
  font-weight: 700;
  position: relative;
}

.linkedIn>p>a::before {
  content: '';
  background-color: cyan;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.linkedIn>p>a:hover::before {
  bottom: 0;
  height: 100%;
}

/*Table Specific Styling*/
table {
  border: 0.1em solid;
  width: 70%
}




#exerciseTable>table {
  width: 75%;
}

#exerciseTable>table>tr>td {
  text-shadow:
    -0.025em 0em black,
    0.025em 0em black,
    0em -0.025em black,
    0em 0.025em black;
}

th {
  border: 0.1em solid;
  text-align: center;
  background-color: #bbb;
}

td {
  border: 0.1em solid;
}

/* taken from https://www.w3.org/Style/Examples/007/evenodd */
tr:nth-child(even) {
  background: #CCC
}

tr:nth-child(odd) {
  background: #FFF
}

tr:not(:first-child):hover {
  background-color: grey;
}



/*End of General document styling */
/* Top navigation bar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar>h1 {
  font-size: 3vh;
  padding-left: 3vw;
}

.navbar>div {
  flex-grow: 1;
}

.navbar *>h1 {
  font-size: 3vh;
  padding-left: 3vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainNav {
  padding: 0;
  list-style-type: none;
}

.mainNav li {
  float: right;
  border-right: 1vh solid #bbb;
  border-left: 1vh solid #bbb;
  background-color: grey;
}

.mainNav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 3vh 3vw;
  text-decoration: none;
  font-size: 1em;
}

.mainNav li:first-child {
  border-right: none;
}

.mainNav li a:hover:not(.active) {
  background-color: #111;
}

.mainNav .active {
  background-color: #2e04aa;
}

/*End of Top navigation bar styling */



input,
textarea {
  display: block;
  width: 31vw;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;

}


input[type=text]:focus,
textarea:focus {
  width: 50vw;
  background-color:
    lightyellow;
}


/*Form Button styling*/
/*Taken from https://www.w3schools.com/css/css_form.asp and modified for my use */
input[type=submit],
input[type=reset] {
  background-color: #2304aa;
  color: white;
  padding: 16px 0px;
  width: 15vw;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

#comments {
  max-width: 100%;
  max-height: 20%
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.floatright {
  margin-right: 10%;
  float: right
}

.mySlides {
  width: 100%;
  object-fit: fill;
}

#form-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

fieldset>p {
  color: grey;
  font-size: 0.8em;
}


/*Carousel taken from https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp on Feb 1 2023, credit to W3 schools! used for Unit 4 */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  width: 50%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*End of Carousel code from w3 */

/*Start of code from https://www.w3resource.com/javascript/form/email-validation.php, written by w3 resource and modified. Taken on February 6 2023, used for unit 4*/
.mail {
  border: 1px soild silver;
}




.rq {
  color:
    #FF0000;
  font-size: 10pt;
}

/*Code used for snake game*/
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

/*Code for button*/
/*position:absolute;
    left: 550px;
    margin-top: 25px;*/

button {
  background: blue;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  padding: 0 45px;
  line-height: 65px;
  border: 2px solid black;
}


/*For centering Items*/
.center {
  margin: auto;
  width: 50%;
  /*border: 3px solid blue;*/
  display: block;
  padding: 10px;
  text-align: center;
}

.button {
  background-color: blue;
  color: white;
  white-space: nowrap;
}

#field {
  margin-left: .5em;
  float: left
}

label,
input {
  display: flex;
  flex-direction: column;
}

input.error {
  border: 1px solid red
}

input[type=submit] {
  text-align: center;
}

label.error {
  background: url(images/unchecked.gif) no-repeat;
  padding-left: 16px;
  margin-left: .3em
}

label.valid {
  background: url(images/checked.gif) no-repeat;
  display: block;
  width: 16px;
  height: 16px
}

.left {
  float: left;
}

.star {
  margin: auto;
  width: 30vw;
  text-align: center;
}

.weatherTable {
  margin: auto;
  width: auto;
  text-align: center;
}

.weatherTable>*>tr>* {
  max-width: 100%;
  white-space: nowrap;
}

.weatherHourly *>tr>th {
  width: 30em;
}

#counter {
  background-color: green;
  color: white;
}

/*for leaflet.js map */
#map {
  height: 50em;
}